.container {
  font-family: Fira-sans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#box {
  background-color: gray;
  height: 25vh;
  width: 25vh;
  margin-bottom: 100px;
}
#el-color-picker {
  margin: 18px auto;
}
form {
  width: 308px;
  padding: 12px;
}
input {
  display: block;
  width: 250px;
  margin: 10px auto;
}
.label-description,
.label-range-value {
  width: 50px;
  margin: 10px auto;
}
.label-description {
  float: left;
}
.label-range-value {
  float: right;
}

legend {
  margin-bottom: 14px;
}
fieldset {
  border-radius: 13px;
}
